@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff);
body {
  background-color: #fff;
  font-family: "Lora", serif;
  font-weight: 300; }

.container {
  max-width: 1170px; }

h1 {
  color: #3B3A36;
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 1px; }

h2 {
  color: #3B3A36;
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  text-transform: uppercase; }

h3 {
  color: #3B3A36;
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  text-transform: uppercase; }

h4 {
  font-family: "Lora", serif;
  font-weight: 400; }

p {
  color: #54585D;
  font-size: 1rem;
  line-height: 24px; }

li {
  font-size: 1rem;
  margin-bottom: 0.3125rem; }

span {
  display: block;
  text-transform: uppercase; }

.accent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 17px;
  width: 95px; }

.link {
  color: #3B3A36;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: inline-block; }
  .link:after {
    width: 100%;
    border-bottom: 3px solid #E62739;
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0; }
  .link:hover {
    text-decoration: none; }

.btn-secondary {
  color: #3B3A36;
  background: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.navbar {
  background-color: #fff;
  padding: 0; }
  .navbar .navbar-brand:hover {
    color: #fff; }
  .navbar .navbar-nav .nav-link {
    color: #54585D;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
    .navbar .navbar-nav .nav-link:hover {
      color: #54585D; }
    @media (min-width: 768px) {
      .navbar .navbar-nav .nav-link {
        font-size: 0.625rem; } }
    @media (min-width: 992px) {
      .navbar .navbar-nav .nav-link {
        font-size: 0.875rem; } }
  @media (max-width: 576px) {
    .navbar .ml-auto {
      text-align: center; }
      .navbar .ml-auto .nav-item {
        background-color: rgba(59, 58, 54, 0.1);
        margin-bottom: 0; } }

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: .1em; }
.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); }

.masthead {
  background-image: url("../graphics/masthead-hp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #E1E8F0;
  margin-top: 6rem;
  padding: 9.6875rem 0; }
  .masthead img {
    position: relative;
    top: 0;
    right: 0; }
  .masthead h3 {
    position: relative;
    left: -70px; }
  .masthead h4 {
    color: #54585D;
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 6rem; }

.intro {
  padding: 50px 0; }
  .intro h1 {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase; }
  .intro p {
    margin-bottom: 40px; }

.contact-cta {
  background-color: #9068BE;
  padding: 40px 0; }
  .contact-cta h3 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px; }
  .contact-cta p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem; }
  .contact-cta .fab {
    color: #fff;
    font-size: 2rem;
    margin-right: 15px; }

.about {
  padding: 35px 0;
  background-image: url("../graphics/au-accent-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative; }
  .about .accent {
    background-image: url("../graphics/purp-accent.png"); }
  .about .about-intro h2 {
    margin-bottom: 60px;
    text-transform: uppercase; }
  .about .about-intro p {
    margin-bottom: 55px; }
  @media (min-width: 0) {
    .about .about-intro {
      padding: 0; } }
  @media (min-width: 992px) {
    .about .about-intro {
      padding: 70px 0 0; } }
  @media (min-width: 576px) {
    .about img {
      width: 100%; } }
  @media (min-width: 992px) {
    .about img {
      width: auto; } }

.services {
  background-color: #E1E8F0;
  padding: 50px 0; }
  .services .service-ttl {
    margin-bottom: 50px; }
  .services .service-cta {
    background-color: #fff;
    margin-bottom: 50px;
    position: relative; }
    @media (min-width: 0) {
      .services .service-cta {
        padding: 30px;
        width: 100%; }
        .services .service-cta .service-img {
          margin: 0 0 20px; }
        .services .service-cta .service-txt {
          text-align: center; }
        .services .service-cta img {
          width: 100%; } }
    @media (min-width: 992px) {
      .services .service-cta {
        padding: 50px 30px;
        width: 90%; }
        .services .service-cta .service-txt {
          margin: 0;
          text-align: left;
          width: 50%; }
        .services .service-cta .service-img {
          position: absolute;
          right: -16%;
          top: 10%; }
        .services .service-cta img {
          width: 90%; } }
  .services h2 {
    margin: 0 0 30px; }
  .services h4 {
    margin-bottom: 25px; }
  .services span {
    margin-top: 25px; }

.testimonials {
  padding: 70px 0;
  position: relative;
  background-image: url("../graphics/au-accent-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%; }
  .testimonials .accent {
    background-image: url("../graphics/prime-accent.png"); }
  .testimonials h2 {
    margin: 0 0 50px; }

.consult-cta {
  background-color: #8DE0CD;
  padding: 40px 0; }
  .consult-cta h2 {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0; }
    .consult-cta h2 strong {
      font-weight: 500; }

.instagram {
  padding: 50px 0;
  position: relative; }
  .instagram .accent {
    background-image: url("../graphics/green-accent.png"); }

.footer {
  font-family: "Roboto", sans-serif;
  padding: 50px 0 0; }
  .footer h3 {
    margin-bottom: 20px; }
  .footer h5 {
    font-weight: 300;
    margin-top: 20px; }
  .footer a {
    color: #3B3A36; }
  .footer ul {
    display: inline-block;
    padding: 0; }
    .footer ul li {
      font-size: 0.875rem;
      list-style: none; }
    @media (min-width: 0) {
      .footer ul {
        margin: 0 0 20px;
        width: 100%; } }
    @media (min-width: 576px) {
      .footer ul {
        margin: 0 55px 0 0;
        width: auto; }
        .footer ul:last-child {
          margin: 0; } }
  .footer .fab {
    color: #54585D;
    font-size: 2rem;
    margin-right: 15px; }
  @media (min-width: 0) {
    .footer {
      text-align: center; } }
  @media (min-width: 576px) {
    .footer {
      text-align: left; } }
  .footer .copy {
    padding: 25px 0; }
    .footer .copy p {
      font-size: 0.75rem; }

/*# sourceMappingURL=global.css.map */
